.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 720px;
  min-width: 100%;
}
.backHome {
  width: 218px;
  height: 36px;
  background: #366eff;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
  border: white;
}

.oops {
  width: 180px;
  height: 115px;
}
.error404 {
  height: 300px;
  width: 388px;
}

@media screen and (max-width: 950px) {
  .oops {
    width: 100px;
  }
  .error404 {
    width: 275px;
  }
}
@media screen and (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .oops {
    width: 130px;
  }
  .error404 {
    width: 300px;
  }
  .backHome {
    width: 138px;
  }
}
@media screen and (max-width: 360px) {
  .oops {
    width: 110px;
  }
  .error404 {
    width: 240px;
  }
}
